/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~@geoapify/geocoder-autocomplete/styles/minimal.css";
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-thin-straight/css/uicons-thin-straight.css');

/* body{
  background-color: #fffef9;
}

.navbar {
  background-color: #fff9e7;
} */

li {
  padding: 5px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 6px;
}

li:hover {
  background: #f7f7f7;
}

.geoapify-autocomplete-input {
  border-radius: 0.375rem;
  /* rounded-md */
  border: 0;
  /* border-0 */
  padding-top: 0.375rem;
  /* py-1.5 */
  padding-bottom: 0.375rem;
  /* py-1.5 */
  color: #111827;
  /* text-gray-900 */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  /* shadow-sm */
  outline: 1px solid #d1d5db;
  /* ring-1 and ring-gray-300 */
  outline-offset: -1px;
  /* ring-inset */
  font-size: 0.875rem;
  /* sm:text-sm */
  line-height: 1.5rem;
  /* sm:leading-6 */
}

.geoapify-autocomplete-input::placeholder {
  color: #9ca3af;
  /* placeholder:text-gray-400 */
}

.geoapify-autocomplete-input:focus {
  outline: 2px solid #4f46e5;
  /* focus:ring-2 and focus:ring-indigo-600 */
  outline-offset: -2px;
  /* focus:ring-inset */
}

/* For small screens and up */
@media (min-width: 640px) {
  .geoapify-autocomplete-input {
    font-size: 0.875rem;
    /* sm:text-sm */
    line-height: 1.5rem;
    /* sm:leading-6 */
  }
}

.geoapify-autocomplete-items {
  border-radius: 6px;
}

.secondary-part {
  color: #4f46e5 !important;
}

.cl-avatarBox {
  width: 2.75rem;
  height: 2.75rem;
}

/* CSS */
.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: .50rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249, 250, 251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #12a0ff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #f9f9f9;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  margin-left: auto;
  border-radius: 13px;
}

.button-52:after {
  content: "";
  background-color: #e7f7ff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 13px;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}