/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
li{
    padding: 5px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 6px;
}
li:hover {
    background: #f7f7f7;
}